.pt10{
    padding-top: 10px;
}
.mb30{
    margin-bottom: 30px;
}
.ml40{
    margin-left: 40px;
}
.spell_modalsetting_uploaditems.pt30{
    padding-top: 20px;
}
.uploaditems_content_item.nopb{
    padding-bottom: 0;
}
.uploaditems_content_item.nopt{
    padding-top: 0;
}
.checkinmain{
    height: 100%;
}
.trigger{
    font-size: 18px;
    line-height: 50px;
    padding: 0 24px;
    cursor: pointer;
    color: #fff;
    vertical-align: middle;
  }
.logo{
    height: 50px;
    padding: 10px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    background-color: #367fa9;
    box-sizing: border-box;
    text-align: center;
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  }
.usermessage{
    display: inline-block; 
    position: absolute;
    right: 50px;
    top: 0;
    height: 50px;
}
.userimg{
    display: inline-block;
    height: 50px;
    width: 50px;
    text-align: center;
}
.usercontent{
    display: inline-block;
    color: #fff;
}
.usernumber,.usercontrol{
    height: 50px;
    vertical-align: middle;
}
.tabheader{
    background-color: transparent;
    position: relative;
    padding: 15px;
}
.tabheader h1{
    margin: 0;
    font-size: 24px;
}
.tabbtn{
    height: 60px;
    padding: 10px 20px;
    border-bottom: 1px solid #f4f4f4;
    box-sizing: border-box;
}
.tabtable{
    padding: 0 10px;
}
.modalhead th{
    padding: 15px 0;
}
.modalitemhead{
    padding: 20px 0;
    overflow: hidden;
}
.modalitemtext{
    float: left;
    margin-top: 10px;
}
.modalitemtext h3{
    font-weight: bold;
}
.modalitembtn{
    float: right;
}
.modalitemcontent{
    position: relative;
}
.modalitemcontent tr th,.modalitemcontent tr td{
    padding: 10px;
}
.gray{
    color: #999999;
}
.modalitemcontent .modalitemtextarea{
    padding-bottom: 30px;
}
.modalitemcontent .textarea_wordslast{
    position: absolute;
    right: 15px;
    bottom: 7px;
}
.textarea_wordslast .wordsblack{
    color: #222222;
}
.textarea_wordslast .wordsgray{
    color: #666666;
}
.checkin_footer{
    background-color: #fff;
    padding: "10px 16px";
}
.monitoring-tabcontent-pagination{
    height: 32px;
    font-size: 14px;
    width: 100%;
    margin: 10px 0;
    position: relative;
}
.basic_message_list{
    list-style: none;
    padding-left: 0;
}
.basic_message_listtitle{
    padding: 10px 0;
}
.spell_redpoint{
    color: red;
}
.basic_message_list .basic_message_listEventID{
    margin-left: 75px;
    font-size: 12px;
}
.basic_message_listitems{
    font-weight: bold;
}
.monitoring_modalfooter_dropdown{
    display: inline-block;
    margin-left: 20px;
}
.monitoring_modalfooter_dropdowncontent{
    width: 900px;
    min-height: 100%;
    background-color: #fff;
    z-index: 2;
}
.monitoring_modalfooter_table{
    padding: 21px 0;
}
.monitoring_modalfooter_tablenodisplay{
    display: none;
}
.monitoring_modalfooter_table .ant-table-title{
    text-align: left;
}
.pelltableitems_desc{
    font-size: 12px;
    color: #666666;
}
.fontblack{
    color: #222222;
}
.tableitem_top{
    vertical-align: top;
}
.spell_rulesetting th{
    text-align: right;
}
.spell_rulesetting th,.spell_rulesetting td{
    padding: 8px 0 ;
}
.spell_modalsetting_uploaditems{
    border-bottom: 1px solid #ECECEC;
    padding: 10px 0 30px;
}
.uploaditems_content_item{
    display: inline-block;
    padding: 10px 5px;
}
.uploaditems_content_item .uploaditems_content_itemimg{
    height: 140px;
    width: 220px;
    overflow: hidden;
}
.uploaditems_content_item .uploaditems_content_itemimg img{
    height: 140px;
    width: 220px;
}
.uploaditems_content_itembtn{
    position: relative;
    height: 30px;
    width: 220px; 
}
.uploaditems_content_itembtn .uploaditems_content_radio{
    position: absolute;
    top: 4px;
    left: 0;
    font-size: 14px;
    color: #222222;
}
.uploaditems_content_itembtn .uploaditems_content_preview{
    position: absolute;
    top: 4px;
    right: 0;
    font-size: 14px;
    color: #666666;
}
.uploaditems_content_itembtn .uploaditems_content_icon{
    padding-right: 4px;
}
.uploaditems_content_itembtn .uploaditems_content_delete{
    position: absolute;
    top: 4px;
    left: 100px;
    font-size: 14px;
    color: #666666;
}
.nopl{
    padding-left: 0;
}
.nopr{
    padding-right: 0;
}
.sharecrad_setting{
    background-color:  rgba(0,0,0,0.02);
    padding: 21px;
}
.sharecrad_setting .sharecrad_setting_header{
    height: 40px;
    overflow: hidden;
}
.sharecrad_setting .sharecrad_setting_header .sharecrad_setting_headertext{
    font-size: 14px;
    color: #222222;
    line-height: 40px;
    height: 40px;
    display: inline-block;
    vertical-align: middle;
}
.sharecrad_setting .sharecrad_setting_header .sharecrad_setting_headerbtn{
    height: 40px;
    width: 120px;
    line-height: 40px;
    display: inline-block;
    vertical-align: middle;
    float: right;
}
.sharecrad_setting .sharecrad_setting_items{
    background-color: #fff;
    position: relative;
    width: 100%;
    padding: 25px 40px;
    margin: 4px 0;
}
.sharecrad_setting .sharecrad_setting_items .sharecrad_setting_itemsclose{
    position: absolute;
    top: 15px;
    right: 15px;
}
.sharecrad_setting_items td{
    padding: 15px 0;
}

.v-main{
    width: 100%;
    margin:0 auto;
    background: #FFFFFF;
    box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.10);
}
.option-mod{
    height: 100px;
    padding: 0 30px 0 50px;
}
.label-box{
    min-height: 54px;
    border-top: 1px solid #E8E8E8;
    border-bottom: 1px solid #E8E8E8;
    padding: 10px 30px 10px 50px;
}
.labels-tit{
    display: inline;
    margin-right: 20px;
}
.labels-items{
    font-size: 14px;
    line-height: 30px;
    height: 30px;
    margin: 5px 5px 5px 0;
}
.small-labeltype-list .ant-tag{margin-bottom: 5px;}
.mod-title{
    font-size: 16px;
    border-bottom: 1px solid #ccc;
    padding: 20px 0 10px;
    margin-bottom: 15px;
}
.mod-title .num{
    font-style: normal;
    padding-right: 5px;
}
.tips{
    color: #FF9913;
    font-size: 12px;
    padding-left: 8px;
}
.v-table td ,.v-table th{
    text-align: center;
    padding: 5px 3px !important
  }
.v-table th{
    text-align: center!important;
  }
.v-table .ant-table-footer{
    font-size: 16px;
  }
.modal_title {color:#222;text-align: right;}
.modal_value {color:#999;padding-left:20px;word-break: break-all;}
.modal_grey_info {background:#e8e8e8;margin-top:20px;padding:10px 0;}
.mini_pro_img {width:160px;height: 160px;margin-left:20px;margin-top:20px;margin-bottom:20px;}
.query_box {padding:30px 30px 30px 0;background:#fafafa;border-bottom:1px solid #e8e8e8;}
.query_mod {height: 50px;}
.q_title{text-align: right;padding-right: 10px;}
.q_btn{margin-left:10px;}
.formbox .ant-row{
    margin-bottom: 0px;
    padding: 0 0 5px;
}